@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
	font-family: "Montserrat" sans-serif !important;
}

/**** V A R I A B L E S ****/
:root {
	--primary-white: #eff9f2;
	--primary-orange: #f9ab00;
	--primary-darkblue: #00242b;
	--secondary-darkblue: #20465e;
	--primary-green: #4be68c;
	--primary-lightblue: #78a1bb;
	--secondary-lightblue: #a3dcff;
	--primary-black: #000000;
	--primary-red: #ff0000;
}

/**************** NAVBAR ****************/
nav {
	z-index: 2;
}
.bg-custom {
	background-color: var(--primary-lightblue);
}
.logo {
	width: 16.25rem;
}

/*----- MENU LINKS -----*/
nav a.nav-link {
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: 0.0375rem;
	cursor: pointer;
}

nav ul li {
	text-transform: uppercase;
}

.navbar-nav > li > a {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	color: var(--primary-white) !important;
	border-top: 0.1875rem solid var(--primary-lightblue);
}

.navbar-brand {
	max-width: 17.25rem;
	padding: 0;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
	border-top: 0.1875rem solid var(--primary-darkblue);
}

.navbar-nav > li > a:hover {
	border-top: 0.1875rem solid var(--primary-darkblue);
}

/**************** HEADER ****************/
.hero-wrapper {
	position: relative;
	background-color: var(--primary-white);
	height: 90vh;
}

.main-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	height: 90vh;

	/* position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; */
}

.main-info h1 {
	text-transform: uppercase;
	color: var(--primary-darkblue);
	font-size: 1.7rem;
	z-index: 2;
	margin: auto;
}

.hero-logo {
	position: relative;
	top: 0;
	left: 0;
	height: 50%;
	width: 50%;
	z-index: 2;
	min-width: 50vh;
}

/*----- TYPED TEXT -----*/

.typed-text {
	font-size: 2rem;
	font-weight: bold;
	color: var(--primary-green);
}

/*----- PARTICLES JS -----*/
.tsparticles-canvas-el {
	position: absolute;
	height: 100vh;
	width: 100vh;
	z-index: 1;
}

/**************** PORTFOLIO ****************/
.portfolio-wrapper {
	background: var(--secondary-darkblue);
	padding: 3rem 0;
}

.portfolio-wrapper h1 {
	color: #edede7;
}

.portfolio-image {
	background: white;
	width: 15rem;
	border: 1px solid var(--primary-darkblue);
	padding: 0.5rem;
}

.portfolio-image-box {
	position: relative;
	margin: 1rem;
}

/*----- OVERFLOW BOX -----*/
.overflow {
	position: absolute;
	opacity: 0;
	background: var(--primary-black);
	width: 15rem;
	height: 9rem;
	top: 0;
	cursor: pointer;
}

.portfolio-image-box:hover .overflow {
	opacity: 60%;
	transition: 0.3s ease-in-out;
}

.portfolio-icon {
	position: absolute;
	opacity: 0;
	margin-left: -8rem;
	margin-top: 3.6rem;
	color: var(--primary-orange);
	font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
	opacity: 70%;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.portfolio-image-popupbox {
	width: 45rem;
	padding: 0 0.5rem;
}

.hyper-link {
	cursor: pointer;
	color: var(--primary-orange);
}

.hyper-link:hover {
	color: var(--primary-red);
}

/*----- MEDIA -----*/
@media (max-width: 768px) {
	.portfolio-image-popupbox {
		width: 100%;
	}
}
@media (max-height: 570px) {
	.portfolio-wrapper {
		height: 100%;
	}
	.portfolio-image-popupbox {
		width: 50%;
	}
}

@media (max-height: 280px) {
	.portfolio-wrapper {
		height: 90%;
	}
	.portfolio-image-popupbox {
		width: 30%;
	}
}
/**************** ABOUT ME ****************/
.photo-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-img {
	border-radius: 50%;
	padding: 0.3rem;
	width: 10rem;

	border: 1px solid var(--primary-darkblue);
}
.about-heading {
	color: #78a1bb;
	text-transform: uppercase;
}
